<%- include('header') %>

<div class="game-container">
  <div class="game-header">
    <span class="game-title">MESSAGE SENT!</span>
  </div>
  <div class="game-content">
    <div class="thank-you">
      <h1>LEVEL CLEARED!</h1>
      <p class="success-message">Your message has been successfully transmitted!</p>
      <p class="quote">"<%= quote %>"</p>
      <a href="/" class="game-button">RETURN TO HOME</a>
    </div>
  </div>
</div>

<%- include('footer') %>
